<div class="articleResult" id="{{this.id}}">
  <div class="articleCard">
    <div class="card-image">
      <img src="{{this.image}}">
      <div class="card-content">\
        <h3>{{this.title}}</h3>
        <p>{{this.summary}}</p>
        <p><a href="{{this.link}}">Link to Article</a></p>
      </div>
    </div>
  </div>
</div>